BlueBlock BITMAP "Images\\blue.bmp"
Bitmap_1 BITMAP "Images\\border.bmp"
CyanBlock BITMAP "Images\\cyan.bmp"
Bitmap_2 BITMAP "Images\\empty.bmp"
GreenBlock BITMAP "Images\\green.bmp"
OrangeBlock BITMAP "Images\\orange.bmp"
PurpleBlock BITMAP "Images\\purple.bmp"
RedBlock BITMAP "Images\\red.bmp"
YellowBlock BITMAP "Images\\yellow.bmp"
